<span id="<%= prefix %>-<%= "#{deployment.id}" %>">
	<div class="span6">
		<div class="menu-item">
			<ul class="nav nav-pills">
				<li><%= link_to "Modifier", [:edit, deployment.sub_category.category, deployment.sub_category, deployment], :tabindex => -1, :data => {:target => "#new-edit-pane"}, :remote => true %></li>
				<li><%= link_to "Connexions", [deployment.sub_category.category, deployment.sub_category, deployment], :tabindex => -1, :data =>{:target => "#main-list", :conx => true}, :remote => true %></li>
				<li><%= link_to "Hôtes", [deployment.sub_category.category, deployment.sub_category, deployment], :tabindex => -1, :data =>{:target => "#main-list", :conx => false}, :remote => true %></li>
			</ul>	
		</div>	
	</div>	
	<div class="span6">
		<h4><%= deployment.note %></h4>
		<p><%= "(#{deployment.name}/#{deployment.id})" %></p>
	</div>	
</span>	
