<div class="span10">
	<span class="badge badge-success"><%= deployments.size %> résultat<%= "s" unless deployments.size == 0 %> pour : <%= @search %></span>
	<div class="alert alert-success">
        <a class="close">×</a>
	<table class="table table-bordered table-condensed table-hover white">
		<thead>
		  <tr>
			<% if link %>
				<th></th>
				<th></th>
			<% end %>	
			<th>Catégorie</th>
			<th>Sous-catégorie</th>
			<th>Deploiement</th>
		  </tr>
		</thead>
		<tbody>
			<% deployments.each do |ds| %>
				<tr>
					<% if link %>
						<td><%= link_to raw('<i class="icon-indent-right"></i>'), addconx_path(:id => ds.id, :deployment_id => deployment.id, :inverse_val => "true"), :remote => true, :class => "fill-target", :data => {:target => "#item-list"} %></td>
						<td><%= link_to raw('<i class="icon-indent-left"></i>'), addconx_path(:id => deployment.id,  :deployment_id => ds.id, :inverse_val => "false"), :remote => true, :class => "fill-target", :data => {:target => "#item-list"} %></td>
					<% end %>
					<td><%= ds.sub_category.category.hr %></td>
					<td><%= ds.sub_category.hr %></td>
					<td><%= link_to h(ds.name.blank? ? ds.id : ds.name), [ds.sub_category.category, ds.sub_category, ds], :remote => true, :class => "fill-target", :data => {:target => "#main-list"} %><%= flag_helper(ds) %></td>
				</tr>	
			<% end %>	
		</tbody>
	</table>
	</div>		
</div>	