<div class="span12">
	<div class="form-horizontal well">
		<%= form_for [category, sub_category], :remote => true, :action => "create"  do |f| %>
			<fieldset>
				<legend><%= category.id.blank? ? "Nouvelle catégorie" : "Modification de la catégorie #{sub_category.id}"%></legend>
				<div class="control-group">
					<label class="control-label" for="input01">Code</label>
					<div class="controls">
						<%= f.text_field :name, :class => "input-xlarge" %></br>
						<p class="help-block">Ce code mnémonique est plus pratique que le nom complet.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input01">Nom</label>
					<div class="controls">
						<%= f.text_field :hr, :class => "input-xlarge" %></br>
						<p class="help-block">Description courte.</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="textarea">Description longue</label>
					<div class="controls">
						<%= f.text_area :note, :class => "input-xlarge" %>
					</div>
				</div>
				<div class="validation-error"></div>
				<div class="form-actions">
					<%= f.submit :class => "btn btn-primary", :id => "new_sub_category" %>
					<%= f.submit :class => "btn", :id => "hide_sub_category" %>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>
