<div id="item-list" class="row">
	<div class="span5">
		<table class="table table-striped table-condensed table-hover">
			<thead>
			  <tr>
				<th>Code</th>
				<th>Nom</th>
			  </tr>
			</thead>
			<tbody id="table-select">
				<% sub_category.deployments.each do |d| %>
					<tr data-linknote="ln-<%= "#{d.id}" %>">
						<td><%= d.name.blank? ? d.id : d.name %><%= flag_helper(d) %></td>
						<td><%= d.hr.blank? ? d.name : d.hr  %></td>
					</tr>	
				<% end %>	
			</tbody>
		</table>		
	</div>	
	<div id="note-list" class="span6">
		<%= render :partial => "shared/detail_deployment_show", :collection => sub_category.deployments, :as => :deployment, :locals => {:prefix => "ln"} %>
	</div>
</div>
