<header class="jumbotron subhead" id="overview">
  <%= render :partial => "shared/menu_categories" , :locals => {:categories => categories} %>
  <div class="row">
    <div class="span6">
      <h1><%= category.hr %></h1>
      <h2><%= sub_category.hr %></h1>
      <p class="lead"><%= sub_category.note %></p>
    </div>
  </div>
</header>
<section id="deployment">
	<div class="page-header">
		<h1>Déploiements</h1>
	</div>

	<!-- Headings & Paragraph Copy -->
	<ul id="mainTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">Déploiements</a></li>
		<li class=""><%= link_to "Saisie", new_category_sub_category_deployment_path(category,sub_category), :id => "new-form", :remote => true, :data => {:toggle => "tab", :target => "#edit"} %></li>
	</ul>	
</section>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="home">
		<!-- Headings & Paragraph Copy -->
		<%= render :partial => "shared/tabs_deployment_list" , :locals => {:sub_category => sub_category} %>
	</div>
	<div class="tab-pane fade" id="edit">
		<div id="new-edit-pane"></div>
	</div>
</div>	
