<header class="jumbotron subhead" id="overview">
  <%= render :partial => "shared/menu_categories" , :locals => {:categories => categories} %>
  <div class="row">
    <div class="span6">
      <h1><%= category.hr %></h1>
      <h2><%= sub_category.hr %></h1>
      <p class="lead"><%= sub_category.note %></p>
    </div>
  </div>
</header>
<section id="deployment">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Déploiements</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Nouveau</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
					<div id="search-results">
						<%= form_tag list_path(), :class => "navbar-search pull-left", :remote=>true do %>
							<%= text_field_tag(:search, @search, :class => "search-query span2", :placeholder => "déploiements") %>
						<% end %>	
					</div>
					<ul class="nav pull-right">
						<li><a href="#">Link</a></li>
						<li class="divider-vertical"></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div>	
	<div class="span12" id="results">
	</div>
	<!-- Headings & Paragraph Copy -->
	<ul id="mainTab" class="nav nav-tabs">
		<li class="active"><a href="#home" data-toggle="tab">Déploiements</a></li>
		<li class=""><%= link_to "Saisie", new_category_sub_category_deployment_path(category,sub_category), :id => "new-form", :remote => true, :data => {:toggle => "tab", :target => "#edit"} %></li>
	</ul>	
</section>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="home">
		<!-- Headings & Paragraph Copy -->
		<%= render :partial => "shared/tabs_deployment_list" , :locals => {:sub_category => sub_category} %>
	</div>
	<div class="tab-pane fade" id="edit">
		<div id="new-edit-pane"></div>
	</div>
</div>	
