<div class="row">
	<ul class="nav nav-pills">
	<li class="disabled"><a href="#">Accueil</a></li>
	</ul>
</div>	
<header class="jumbotron subhead" id="overview">
  <%= render :partial => "shared/menu_categories" , :locals => {:categories => categories} %>
  <div class="row">
    <div class="span6">
      <h1>Catégories</h1>
    </div>
    <div class="span6">
      <div class="well">
          <div class="clearfix"><a href="http://www.brinks.fr" id="bks_aplink">via Bks</a></div>
      </div>
    </div>
  </div>
</header>
<section id="category">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</a>
				<%= link_to "Accueil", root_path, :class => "brand" %>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><%= link_to "Nouveau", new_category_path, :remote => true, :class => "fill-target", :data => {:toggle => "tab", :target => "#myTabContent"} %></li>
					</ul>
					<div id="search-results">
						<%= form_tag listall_path(), :class => "navbar-search pull-left", :remote=>true do %>
							<%= text_field_tag(:search, @search, :class => "search-query span2", :placeholder => "Catégories") %>
						<% end %>	
					</div>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div>	
	<div class="span12" id="results">
	</div>
	<div id="myTabContent">
		<%= render :partial => "shared/tabs_category_list" , :locals => {:categories => categories} %>
	</div>
</section>
