<div id="item-list" class="row">
	<div class="span12">
		<table class="table table-striped table-condensed table-hover">
			<thead>
			  <tr>
				<th>Code</th>
				<th>Nom</th>
				<th>Note</th>
			  </tr>
			</thead>
			<tbody id="table-select">
				<% category.sub_categories.each do |sc| %>
					<tr>
						<td>
							<%= link_to h(sc.name.blank? ? sc.id : sc.name), [sc.category, sc, Deployment], :remote => true, :class => "fill-target", :data => {:target => "#main-list"} %>
							<% if sc.deployments.empty? %>
								<%= link_to raw('<i class="icon icon-remove-sign"></i>'), [sc.category, sc], :method => :delete, :remote => true, :class => "fill-target", :data => {:target => "#main-list"} %>
							<% else %>	
								<span class="badge badge-success"><%= sc.deployments.size%></span>
							<% end %>	
						</td>
						<td><%= sc.hr.blank? ? sc.name : sc.hr  %></td>
						<td><%= sc.note %></td>
					</tr>	
				<% end %>	
			</tbody>
		</table>		
	</div>
</div>
